<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.hsos.visitenkartenscanner">

    <application
        android:allowBackup="true"
        android:theme="@style/Theme.Visitenkartenscanner"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true">

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
